@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');


body{ /* Normal  */
      font-size: 14px;
      font-family: 'Karla', 'Nunito Sans', sans-serif;
      color: #666666;
  }
  
td {  /* Table  */
  font-size: 14px;
  font-family: 'Karla', 'Nunito Sans', sans-serif;
  color: #585858;
}

h1 { /* Header 1 */
  font-size: 40px;
  font-family: 'Karla', 'Nunito Sans', sans-serif;
  color: #2b2929;
  text-align: center;
}

h2 { /* Header 2 */
    font-size: 35px;
    font-family: 'Karla', 'Nunito Sans', sans-serif;
    color: #2b2929;
    text-align: center;
}

h3 { /* Header 3 */
  font-size: 30px;
  font-family: 'Karla', 'Nunito Sans', sans-serif;
  color: #2b2929;
}

h4 { /* Header 3 */
  font-size: 8px;
  font-family: 'Karla', 'Nunito Sans', sans-serif;
  color: #2b2929;
  text-align: center;
}

code.r{ /* Code block */
    font-size: 12px;
    font-family: 'Karla', 'Nunito Sans', sans-serif;
    color: #666666;
}


p.caption {
  font-size: 0.9em;
  font-style: 'Karla', 'Nunito Sans', italic;
  color: #666666;
  margin-right: 10%;
  margin-left: 10%;  
  text-align: justify;
}

 footer {
    padding: 20px 0 20px 0;
    text-align: center;
    color: #808080;
  }
  

/* ---------- TOC ----------------- 
#TOC {
  top: 30%;
  position: fixed;
  width: 210px;
}
.tocify {
  border: none;
  color: grey;
  border-radius: 0px;
}
.list-group-item.active {
    color: #BAECCD;
    background-color: white;
    border-left: solid;
    border-color: #BAECCD;
}
.list-group-item:hover {
    color: #BAECCD;
    background-color: white;
    border-left: solid;
    border-color: #BAECCD;
}
.tocify-extend-page {
  display: none;
}
*/

/* ------ This is just to fix the bug on Safari where table of content is on top of content */
.toc-content {
  margin-left: 230px
}



/* ---------- Button ----------------- */
.btn-primary {
    border-width: 0 0px 0px 0px;
    font-weight: bold;
    text-transform: ;
    color: ;
    background-color: #87d4b7;
    border-color: #87d4b7;
}

.btn-primary:hover {
    background-color: #7cc4a8;
    border-color: #7cc4a8;
  }
  
.btn-outline-primary {
    color: #87d4b7;
    background-color: transparent;
    border-color: #87d4b7;
  }

  .btn-outline-primary:hover {
    background-color: #87d4b7;
    border-color: #87d4b7;
  }

  .btn-success {
    background-color: #7ec57e;
    border-color: #7ec57e;
  }

  .btn-success:hover {
    background-color: #75b675;
    border-color: #75b675;
  }

  .btn-outline-success {
    background-color: transparent;
    border-color: #7ec57e;
    color: #7ec57e;
  }

  .btn-outline-success:hover {
    background-color: #7ec57e;
    border-color: #7ec57e;
  }

  .round-btn {
border-radius: 50px;
  }

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #BAECCD;
}


/* ---------- Leaflet ----------------- */

.leaflet {
    margin: auto;
}

/*------ Form -----------*/

.form-check-input:checked {
    background-color: #87d4b7;
    border: #87d4b7;
  }
  
  
  .dropdown {
  position: relative;
}
.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
}
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd;
}
.dropdown-item:disabled {
  color: #adb5bd;
  pointer-events: none;
  background-color: transparent;
}
.dropdown-menu-dark {
  color: #dee2e6;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.15);
}
.dropdown-menu-dark .dropdown-item {
  color: #dee2e6;
}
.dropdown-menu-dark .dropdown-item:focus,
.dropdown-menu-dark .dropdown-item:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.dropdown-menu-dark .dropdown-item:active {
  color: #fff;
  background-color: #0d6efd;
}
.dropdown-menu-dark .dropdown-item:disabled {
  color: #adb5bd;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: #e9ecef #e9ecef #dee2e6;
  isolation: isolate;
}
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar > .container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
.navbar-nav .dropdown-menu {
  position: static;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}
.navbar-dark .navbar-brand {
  color: #fff;
}
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.55);
  border-color: rgba(255, 255, 255, 0.1);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

